html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }
a:hover {
  outline: 0; }

/* @Font face declarations */
@font-face {
  font-family: 'DroidSans';
  src: url("../fonts/droid sans/DroidSans.eot");
  src: url("../fonts/droid sans/DroidSans.eot?#iefix") format("embedded-opentype"), url("../fonts/droid sans/DroidSans.woff") format("woff"), url("../fonts/droid sans/DroidSans.ttf") format("truetype"), url("../fonts/droid sans/DroidSans.svg#DroidSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DroidSans Bold';
  src: url("../fonts/droid sans/DroidSans-Bold.eot");
  src: url("../fonts/droid sans/DroidSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/droid sans/DroidSans-Bold.woff2") format("woff2"), url("../fonts/droid sans/DroidSans-Bold.woff") format("woff"), url("../fonts/droid sans/DroidSans-Bold.ttf") format("truetype"), url("../fonts/droid sans/DroidSans-Bold.svg#DroidSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen {
  html {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    color: #333333; }

  .container {
    width: 94%;
    max-width: 1400px; }

  p {
    font-size: 12px;
    line-height: 18px;
    color: #333333; }

  input.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #d5d6e0;
    box-shadow: inset 0 0 0 transparent;
    font-size: 16px;
    font-family: "DroidSans", sans-serif;
    color: #333333;
    font-style: normal; }

  input.input-err {
    background-color: #e1d0d9; }

  li {
    list-style: none; }

  ul {
    padding: 0;
    margin: 0; }

  a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px; }

  label {
    font-weight: normal; }

  input.form-control {
    font-style: normal; }
    input.form-control::-webkit-input-placeholder {
      font-style: italic; }
    input.form-control::-moz-placeholder {
      font-style: italic; }
    input.form-control::-moz-placeholder {
      font-style: italic; }
    input.form-control:-ms-input-placeholder {
      font-style: italic; }

  h1,
  h2,
  h3 {
    font-family: "DroidSans", sans-serif;
    font-weight: normal; }

  .center {
    text-align: center; }

  .bold-text {
    font-family: "DroidSans Bold", sans-serif; }

  h2.bold-text.title {
    font-family: "DroidSans Bold", sans-serif; }

  body {
    font-family: "DroidSans", sans-serif;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    float: left;
    color: #333333;
    min-height: 100vh; }

  .text-center {
    text-align: center; }

  .btn {
    padding: 6px;
    font-size: 14px;
    outline: 0; }
    .btn:focus, .btn:active, .btn:visited {
      outline: 0; }

  .container {
    width: 940px;
    max-width: 94%;
    margin: 0 auto; }

  /* ==========================================================================
      Header
  ========================================================================== */
  header {
    width: 100%;
    float: left;
    padding: 14px 0; }
    header nav {
      background-image: none;
      background-color: white;
      box-shadow: 0 0 0 transparent;
      position: relative; }
      header nav .container {
        width: 940px;
        max-width: 94%;
        margin: 0 auto;
        border-style: none;
        border-width: 1px;
        border-color: white white rgba(255, 255, 255, 0.15) white;
        min-height: 56px;
        border-radius: 0;
        padding: 0;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 56px; }
        header nav .container .logo {
          padding: 10px;
          border-radius: 0;
          border-color: #ffffff;
          border-width: 1px;
          border-style: none;
          margin: 0; }
        header nav .container .trivago {
          float: right;
          border-radius: 0;
          border-color: #ffffff;
          border-width: 1px;
          border-style: none;
          padding: 10px;
          opacity: 0.33; }

  /* ==========================================================================
      Footer
  ========================================================================== */
  .footer {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    float: left;
    border-top: 1px solid #F1F1F1;
    text-align: center;
    font-size: 13px; }
    .footer .container {
      padding: 20px 0 0 0;
      color: #A9A9A9; }
      .footer .container a {
        color: #428bca;
        font-family: "DroidSans Bold", sans-serif; }

  /* ==========================================================================
      Main section
  ========================================================================== */
  .main-container {
    float: none;
    min-height: 200px;
    background: transparent; }

  .section-hero {
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center top;
    background-repeat: repeat;
    background-image: url("../images/hero.jpg");
    border-radius: 0;
    border-color: #ffffff;
    border-width: 1px;
    border-style: none;
    float: left;
    min-height: 642px;
    width: 100%; }
    .section-hero .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      min-height: 642px; }
      .section-hero .container .img-hero {
        display: block;
        margin: auto;
        padding-top: 200px;
        height: 60px; }
      .section-hero .container .validation-message {
        color: rgba(255, 255, 255, 0.8);
        text-align: center; }

  .container-hero-left {
    float: left;
    padding: 0 10px;
    border: none;
    margin: 0;
    width: 46%;
    font-weight: normal; }
    .container-hero-left h1 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 72px;
      line-height: 85px;
      pointer-events: auto;
      font-weight: normal;
      float: left;
      padding: 5px;
      margin: 110px 0 0 0; }
      .container-hero-left h1 span {
        clear: both;
        width: 100%;
        float: left; }
    .container-hero-left h2 {
      color: #E6E6FA;
      opacity: 1;
      font-size: 24px;
      line-height: 40px;
      float: left;
      width: 100%;
      margin: 20px 5px; }

  .container-hero-right {
    float: right;
    padding: 45px 15px 40px 15px;
    border: none;
    margin: 0;
    max-width: 46%;
    width: 360px;
    font-weight: normal; }
    .container-hero-right form {
      float: left;
      width: 100%;
      padding: 0; }
      .container-hero-right form fieldset {
        margin: 0;
        width: 100%;
        border: 0;
        float: left;
        color: white;
        padding: 10px 0; }
        .container-hero-right form fieldset label {
          float: left;
          width: 100%;
          font-size: 12px;
          font-weight: normal;
          text-align: left;
          margin-bottom: 4px;
          font-family: 'Droid Sans', sans-serif;
          color: white; }
        .container-hero-right form fieldset .error-message {
          color: red; }
        .container-hero-right form fieldset .field-input {
          float: left;
          padding: 10px 3%;
          width: 94%;
          height: 30px;
          display: block;
          font-size: 14px;
          line-height: 1.42857;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s; }
        .container-hero-right form fieldset .wrong {
          border: 3px solid red; }

  .btn-submit-L {
    border-radius: 2px;
    border: 1px solid #23517a;
    color: #ffffff;
    font-size: 16px;
    line-height: 43px;
    background-color: #ffb500;
    text-align: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "DroidSans Bold", sans-serif;
    outline: 0;
    width: 100%;
    height: 100%; }
    .btn-submit-L:hover {
      background-color: #d89900;
      background-size: contain; }

  .section-mid h1, .section-tel h1 {
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    float: left;
    width: 98%;
    padding: 80px 1% 0 1%;
    margin: 0;
    min-height: 100px;
    border-style: none;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 0;
    font-weight: normal; }
  .section-mid h2, .section-tel h2 {
    font-size: 22px;
    text-align: center;
    padding: 0 10%;
    line-height: 36px; }
  .section-mid .images-mid, .section-tel .images-mid {
    width: 325px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0 0 0;
    min-height: 190px;
    border-style: none;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 0; }
  .section-mid .img-mid, .section-tel .img-mid {
    height: 60px;
    margin: 10px; }

  .section-tel {
    background-color: rgba(230, 230, 230, 0.41);
    text-align: center;
    padding-bottom: 80px;
    margin-top: 35px; }
    .section-tel .btn-submit-L {
      border-radius: 2px;
      border: 0;
      color: #ffffff;
      font-size: 16px;
      line-height: 43px;
      background-color: #ffb500;
      text-align: center;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      font-family: "DroidSans Bold", sans-serif;
      outline: 0;
      width: 20%;
      height: 100%; }
      .section-tel .btn-submit-L:hover {
        background-color: #d89900;
        background-size: contain; }

  .section-mid2 {
    background-repeat: no-repeat;
    border-radius: 0;
    border-color: #e6e6e6;
    border-width: 1px;
    border-style: none;
    background-color: rgba(230, 230, 230, 0.41);
    float: left;
    width: 100%;
    padding: 100px 0; }

  .box {
    padding: 20px 0 10px 0;
    min-height: 100px;
    border-radius: 2px;
    border-style: none;
    border-width: 1px;
    border-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-box-shadow: 0 0 21px 0 rgba(153, 153, 153, 0.3);
    -moz-box-shadow: 0 0 21px 0 rgba(153, 153, 153, 0.3);
    box-shadow: 0 0 21px 0 rgba(153, 153, 153, 0.3);
    background-color: white;
    width: 31.33%;
    margin: 1%;
    float: left; }
    .box h2 {
      margin: 0 20px 20px 20px;
      padding: 5px 15px;
      max-width: 100%;
      text-align: center;
      line-height: 1.5;
      min-height: 70px;
      font-size: 20px;
      font-family: "DroidSans Bold", sans-serif; }
      .box h2 span {
        width: 100%;
        float: left; }
    .box p {
      font-size: 14px;
      text-align: center; }
    .box .btn-s2 {
      border: 0;
      width: 88%;
      margin: 20px 6% 10px 6%;
      float: none; }

  .section-mid3 {
    float: left;
    margin: 0;
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-x;
    background-image: url("../images/s3.png");
    border: 1px #fff;
    padding: 0;
    width: 100%;
    text-align: center;
    color: white;
    min-height: 632px; }
    .section-mid3 h1 {
      font-size: 48px;
      line-height: 34.2857px;
      padding: 30px 0 0 0;
      float: left;
      font-weight: normal;
      width: 100%; }
    .section-mid3 h2 {
      font-size: 22px;
      line-height: 1.42857; }
    .section-mid3 img {
      padding: 50px 0 0 0;
      border: 0;
      width: 100%;
      float: left; }

  .section-bottom h1 {
    line-height: 75px;
    text-align: left;
    padding: 70px 10px; }
  .section-bottom .testimonials {
    min-height: 100px;
    display: table; }
    .section-bottom .testimonials .testimonial {
      width: 48%;
      display: table-cell;
      float: left;
      padding: 0 2% 0 0; }
    .section-bottom .testimonials .testimonial-full {
      width: 98%;
      text-align: center;
      padding: 0 1%;
      letter-spacing: 0.5px; }
    .section-bottom .testimonials p {
      font-size: 22px;
      line-height: 1.5;
      color: #333333;
      margin: 0; }
    .section-bottom .testimonials .author {
      width: 100%;
      float: left;
      padding: 10px 0;
      font-size: 16px;
      font-family: "DroidSans Bold", sans-serif; }
      .section-bottom .testimonials .author a {
        font-size: 16px;
        font-family: "DroidSans Bold", sans-serif;
        color: #428bca;
        text-decoration: none; }
  .section-bottom .images-b {
    float: left;
    width: 100%;
    margin: 70px 0; }
  .section-bottom .img-b {
    float: left;
    width: 100%; }
    .section-bottom .img-b img {
      float: left;
      width: 100%; }
  .section-bottom .img-b1 {
    width: 23.5%;
    padding: 0 3% 0 0; }
  .section-bottom .img-b2 {
    width: 23.5%;
    padding: 0; }
  .section-bottom .img-b3 {
    width: 45%;
    padding: 0 0 0 3%; } }
@media screen and (max-width: 778px) {
  header nav .container .logo {
    padding: 30px 2% 10px 2%;
    width: 46%; }

  header nav .container .trivago {
    padding: 30px 2% 10px 2%;
    width: 46%; }

  .container-hero-left h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 36px;
    line-height: 50px;
    margin: 30px auto 0 auto;
    width: 100%;
    text-align: center; }
    .container-hero-left h1 span {
      float: none;
      margin: 0 auto; }

  .container-hero-right .img-hero {
    height: 50px;
    margin: auto;
    padding: 20px; }

  .section-mid h1 {
    font-size: 32px;
    line-height: 48px; }

  .section-mid .images-mid {
    width: 251px;
    min-height: 100px; }

  .section-mid .img-mid {
    height: 50px;
    margin: 5px; }

  .section-mid3 h1 {
    font-size: 35px; }

  .section-bottom h1 {
    font-size: 26px;
    text-align: left;
    padding: 40px 10px 20px 10px; }

  .section-mid2 {
    padding: 60px 0; }

  .section-mid3 {
    min-height: 560px; }

  .container-hero-left h2 {
    text-align: center; }

  .container-hero-left {
    width: 94%; }

  .container-hero-right {
    width: 94%;
    max-width: 94%; }

  .box {
    min-height: 100px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    background-color: white;
    width: 98%;
    margin: 1%;
    float: left; }

  .section-bottom .testimonials .testimonial {
    width: 98%;
    display: table-cell;
    float: left;
    padding: 20px 2% 0 0; }

  .section-bottom .img-b {
    width: 80%;
    padding: 10px 10%;
    text-align: center; }

  .section-bottom .img-b1 img {
    width: 210px;
    float: none;
    max-width: 100%;
    margin: 0 auto; }

  .section-bottom .img-b2 img {
    width: 210px;
    float: none;
    max-width: 100%;
    margin: 0 auto; }

  .section-bottom .img-b3 img {
    width: 410px;
    float: none;
    max-width: 100%;
    margin: 0 auto; } }
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; } }
